.style1{
	background: linear-gradient(to bottom,#f0610e, #e8771a, #fff34a);
  	-webkit-background-clip: text;
  	color: transparent;
} 
.style2{
	background: linear-gradient(to right,#f0610e, #e8771a, #fff34a);
  	-webkit-background-clip: text;
  	color: transparent;
}